h2.abril-optimised.f-subheadline.tc.white Salon Closure due to COVID-19
p.f4.f2-ns.lh-copy.tc.white.w-70-ns.bb.b--light-blue.mb5.mt0.pb5 Thanks so much for your support. I’ll be sad not to see you all for a while, but will again soon when it’s safe to open, and you all feel very Rapunzel like. Please 
    a.light-blue(href="tel:01483725723") call
    , or 
    a.light-blue(href="mailto:jinny@pinupcurls.co.uk") email
    &nbsp;for an appointment when it’s all safe again to do so.