h2.abril-optimised.f-subheadline.mt4.mt5-ns.pt4.pt5-ns.bt.b--gold Cancellation Policy
p.f4.f2-ns.lh-copy Clients who fail to give less than 24 hours cancellation notice will be kindly asked for 50% of the appointment cost at our small business
					