!= partial("menuButton")
main.flex-auto.flex.justify-center.pa4.pa5-ns
  .mw7.tc
    img.w5.w-70-ns.pb3.pb4-ns(src="img/contact-title.png")
    p.pb4.pb5-ns.f3.f1-ns.lh-copy.bb.b--gold Call the Parlour on
      br
      a(href="tel:01483725723") 01483 725 723
    p.f3.f1-ns.lh-copy
      a(href="mailto:jinny@pinupcurls.co.uk") Send an Email
