!= partial("menuButton")
main.flex.flex-column
  .flex-ns.bg-white
    .flex-auto.h5.vh-50-ns.cover(style="background-image: url(img/gallery-jinny-cutting-hair.jpg);")
    .flex-auto.h5.vh-50-ns.cover.bg-center(style="background-image: url(img/gallery-jinny-cutting-wet-hair.jpg);")
  .flex.justify-center.pa4.pa5-ns
    .flex.justify-center.items-start.mw7
      img.w5.w-70-ns(src="img/gallery-title.png")
