!= partial("menuButton")
main.flex-auto.flex.flex-column
  .flex-auto(data-map="map")
img.dn(data-map="marker" data-long="51.317715" data-lat="-0.55761" height="144" src="/img/location-marker-shop.png" width="120")
img.dn(data-map="marker" data-long="51.3164834" data-lat="-0.5568375999999999" height="48" src="/img/location-marker-parking.png" width="40")
