doctype
html.h-100
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    title Pin Up Curls
    meta(decscription="Colour, cuts and styles tailored to ladies, gentlemen and children. One-to-one appointments with late night and weekend availability.")
    meta(property="og:image" content="img/Logo.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
    link(rel="stylesheet" href="css/tachyons.min.css")
    link(href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap&text=FROMPLEASECALL£1234567890CancellationPolicySendanEmail" rel="stylesheet")
  body.h-100
    != yield

