header.flex.flex-column.justify-center.items-center.min-h-100.pa4.bg-blue.light-blue(data-router="top")
  img.o-50.w4.w-100-ns.mw5-ns.pb4.pb5-ns(src="img/menu-logo.svg")
  .flex.flex-column
    a.dim.flex-auto.flex.justify-center.items-center.pb4.pb5-ns(data-router="prices" href="prices")
      img.w-75.mw6.w-100-ns(src="img/menu-prices.png" style="pointer-events: none")
    a.dim.flex-auto.flex.justify-center.items-center.pb4.pb5-ns(data-router="map" href="map")
      img.w-75.mw6.w-100-ns(src="img/menu-location.png" style="pointer-events: none")
    a.dim.flex-auto.flex.justify-center.items-center.pb4.pb5-ns(data-router="gallery" href="gallery")
      img.w-75.mw6.w-100-ns(src="img/menu-gallery.png" style="pointer-events: none")
    a.dim.flex-auto.flex.justify-center.items-center.pb4.pb5-ns(data-router="contact" href="contact")
      img.w-75.mw6.w-100-ns(src="img/menu-contact.png" style="pointer-events: none")
    a.dim.flex-auto.flex.justify-center.items-center.pb4.pb5-ns(href="https://www.facebook.com/pinupcurls")
      img.w-75.mw6.w-100-ns(src="img/menu-facebook.png")
.bg-washed-yellow(data-router='bottom')
script(src="js/smoothscroll.js")
script(src="js/router.js")
script(src="js/map.js")
