/*@override 
	http://pin-up-curls.hammer.dev/assets/css/style.css
*/

html { 
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font: 100%/1.6 serif /* 16px */;
	overflow-y: scroll; overflow-y: -moz-scrollbars-vertical;
}

body {
	background: #f9f6ec url(../img/pin-up-curls-bg.svg) repeat left top;
	background-size: cover;
	/*min-height: 2048px;*/
	font-size: 1em;
}

a,
a:visited {
	color: #517399;
}


	/*=logo
	 */
	.contains-logo-puc-logo-unisex-hair-parlour {
		display: none;
		opacity: 0;
		overflow-x: hidden;
		position: fixed;
		width: 100%; height: 100%;
	}
	
		.logo-puc-logo-unisex-hair-parlour {
			/*max-width: 60em;*/
			left: -1.5em;
			margin: 0 auto; padding: 0 3em 0 0;
			max-width: 42em;
			position: relative;
			width: 100%;
		}
		
		
		/* Less max width for short viewport
		 */
		 @media (min-height: 800px) {
			.logo-puc-logo-unisex-hair-parlour {
				/*max-width: 42em;*/
				/*max-width: 60em;*/
				max-width: none;
			}
		}
	
			.contains-logo-puc {
				position: absolute;
				top: 0; left: 0;
				width: 100%;
			}
			
				.logo-puc,
				.logo-unisex-hair-parlour {
					width: 100%;
				}
				
				.logo-puc {
					padding: 6% 0;
				}
				
				
				
				/* Less padding for narrow viewport
				 */
				@media (max-width: 600px) {
				  .logo-puc {
				  	padding: 2% 0;
				  }
				}
			
			.contains-logo-unisex-hair-parlour {
				padding: 0% 27%;
			}


	/*=menu & =pages
	 */
	.contains-menu-pages {
		position: absolute;
		width: 100%; height: 100%;
		display: none;
	}
	
	
		/*=menu
		 */
		.contains-menu,
		.link-to-menu-image {
			background: #517399;
		}
		
		.contains-menu {
			position: relative;
			width: 100%; min-height: 100%;
		}
		
			.contains-menu-items {
				list-style: none;
				margin: 0 auto; padding: 0% 6% 0;
				max-width: 25em;
				position: relative;
			}
			
			
			/* change padding for narrow viewport
			 */
			@media (max-width: 600px) {
			  .contains-menu-items {
			  	padding: 0% 12% 0;
			  }
			}
			
			
			/* Less max width for short viewport
			 */
			 @media (min-height: 800px) {
				.contains-menu-items {
					/*max-width: 60em;*/
				}
			}

				.contains-menu-item {
					border-bottom: 1px solid #edffff;
					display: block;
					text-align: center;
				}
					.contains-menu-item.last {
						border: 0;
					}
				
					.link-to-prices-page,
					.link-to-location-page,
					.link-to-contact-page,
					.link-to-gallery-page,
					.link-to-facebook-page {
						-webkit-tap-highlight-color: transparent;
						display: block;
						padding: 8% 2em;
					}
					
						.link-to-page-title {
							width: 100%;
						}
		
		
		/*=pages
		 */
		.contains-pages {
			position: absolute;
			top: 100%;
			width: 100%; min-height: 100%;
			display: none;
		}
		
			.contains-link-to-menu {
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;
				
			}
			
			.contains-link-to-menu.fixed {
				backface-visibility: hidden; -webkit-backface-visibility: hidden;
				display: none;
				position: fixed;
			}
				
				.link-to-menu {
					-webkit-tap-highlight-color: transparent;
					display: block;
					overflow: hidden;
					position: relative;
					text-align: center;
				}
				
					.link-to-menu-image {
						padding: 1em;
						/*width: auto; */height: 1em;
					}
					
					
					/* change size for narrow viewport
					 */
					@media (max-width: 600px) {
					  .link-to-menu-image {
					  	padding: 0.5em;
					  	height: 1em;
					  }
					}
			
			.contains-page {
				display: none;
			}
			
				.page-title,
				.section-title {
					display: block;
					margin: 0 auto;
				}
				
					.page-title {
						/*max-height: 10em;*/
						position: relative;
						top: -1px;
						/*width: auto; height: 100%;*/
						height: 10em;
					}
					
					/* change size for narrow viewport
					 */
					@media (max-width: 600px) {
					  .page-title {
					  	max-height: 4.5em;
					  }
					}
			
					hr {
						border: 0; border-bottom: 1px solid #f1b706;
						display: block;
						height: 1px;
						margin: 0 auto 6%; padding: 0 0 6%;
						max-width: 25em;
					}
				
				
					/* change width for narrow viewport
					 */
					@media (max-width: 600px) {
					  hr {
					  	max-width: 12em;
					  }
					}
			
			
			/*=prices page
			 */
			.contact-page {
				padding: 3em 12%;
			} 
			 
			.contains-prices-page {
			/*	margin: 0; padding: 0;
				overflow: hidden; overflow-y: scroll;
				position: absolute;
				width: 100%; height: 100%;*/
			} 
		
				.prices-page {
					margin: 0 auto; padding: 3em 12%;
					max-width: 44em;
				}
			
			
				/* change padding for narrow viewport
				 */
				@media (max-width: 600px) {
				  .prices-page,
				  .contact-page {
				  	padding-top: 2em;
				  }
				}
			 
					.section-title {
						/*height: 100%;
						max-height: 3em;*/
						height: 3em;
						padding: 8% 0 3%;
					}
					
					.section-title.highlights {
						/*max-height: 8.5em;*/
						height: 8.5em;
					}
					
					.section-title.special {
						/*max-height: 13.5em;*/
						height: 13.5em;
					}
					
					
					/* change size for smaller viewport
					 */
					@media (max-width: 900px) {
					  .section-title {
					  	max-height: 2em;
					  }
					  
					  .section-title.highlights {
					  	max-height: 4em;
					  }
					  
					  .section-title.special {
					  	max-height: 7em;
					  }
					} 
					
					
					/* change size for narrow viewport
					 */
					@media (max-width: 600px) {
					  .section-title {
					  	max-height: 1em;
					  }
					  
					  .section-title.highlights {
					  	max-height: 3em;
					  }
					  
					  .section-title.special {
					  	max-height: 4.7em;
					  }
					} 
					 
					.prices-item {
						font-size: 3em;
						line-height: 1.2;
						margin: 0 0 0%; padding: 0 3em 0 0;
						min-height: 2em;
						position: relative;
					}
					
					
					/* change font size for smaller viewport
					 */
					@media (max-width: 900px) {
					  .prices-item {
					  	font-size: 2.5em;
					  }
					}
					
					
					/* change font size for narrow viewport
					 */
					@media (max-width: 600px) {
					  .prices-item {
					  	font-size: 1.3em;
					  }
					}
		
						.contains-prices-price {
							/*max-height: 2em;*/
							position: absolute;
							text-align: left;
							top: 0.2em; right: 0;
							/*width: 7em; height: 100%;*/
							width: 7em; height: 2em;
						}
						
							.prices-price {
								/*width: auto; height: 100%;*/
								height: 2em;
							}
					
				
			/*=location page
			 */
			.location-page {
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 100%; height: 100%;
			} 
			 
				.contains-map {
					width: 100%; height: 100%;
					overflow: hidden;
				}
				
				.location-marker-shop,
				.location-marker-parking {
					display: none;
				}
					
					
			/*=contact page
			 */
			.contact-page  {
				margin: 0 auto;
				max-width: 44em;
			}
			 
				.contains-contact-details {
					padding: 5% 0 0;
				}
				
					.contact-details {
						font-size: 1.5em;
						text-align: center;
						margin: 0; padding: 0;
					}
					
					/* change font size for smaller viewport
					 */
					@media (max-width: 900px) {
					  .contact-details {
					  	font-size: 2.5em;
					  }
					}
					
					
					/* change font size for narrow viewport
					 */
					@media (max-width: 600px) {
					  .contact-details {
					  	font-size: 1.3em;
					  }
					}
			
			
			/*=gallery page
			 */
			.gallery-page {
				padding: 0;
			} 
			
				.gallery-image {
					float: left;
					width: 50%;
				}
					
				.contains-gallery-page-title {
					clear: left;
				}
			
	
			
		